django
djangorestframework
django-ratelimit
python-dotenv
django-redis
rapidfuzz
gunicorn
whitenoise
dj-database-url
psycopg2-binary
pandas
openpyxl
drf-spectacular
drf-spectacular-sidecar
django-cors-headers
